################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/**
bin/
obj/
?FEAR/.antlr/
.antlr/
/FEAR.Hosted/IdentityDatabase.db-shm
/FEAR.Hosted/IdentityDatabase.db-wal
/FEAR.Hosted/wwwroot/lib/bootstrap
/FEAR.Hosted/wwwroot/lib/bootstrap-icons
/FEAR.WASM/FEAR.WASM.csproj.user
/FEAR.WASM/wwwroot/lib/bootstrap
/FEAR.WASM/wwwroot/lib/bootstrap-icons
/FEAR.WASM/wwwroot/lib/bootstrap-modal
/FEAR.WASM/wwwroot/lib/cytoscape
/FEAR.WASM/wwwroot/lib/jquery
/FEAR.WASM/wwwroot/lib/marked/lib
/FEAR.WASM/wwwroot/lib/prism
/FEAR.WASM/wwwroot/lib/sanitize-html
/FEAR.WASM/wwwroot/lib/sigma.js
/FEAR.WASM/wwwroot/lib/graphology
/FEAR.WASM/npm_packages/node_modules
/FEAR.WASM/npm_packages/package-lock.json
/FEAR.WASM/Properties/PublishProfiles
/FEAR.WASM/wwwroot/lib/jqueryui
/FEAR.Scripts/node_modules
*.user
/FEAR.Scripts/package-lock.json
/FEAR.Security/wwwroot/lib
/FEAR.Admin/wwwroot/lib/jquery
/FEAR.Admin/wwwroot/lib/jqueryui
/FEAR.Admin/wwwroot/lib/sanitize-html
/FEAR.Blazor.Shared/wwwroot/lib/prism
/FEAR.Containers/build
/FEAR.Containers/deploy
/FEAR.Containers/secrets
/FEAR.Containers/src/__pycache__
/deploy
/build
/secrets
/FEAR.Hosted/appsettings.Development.json
/FEAR.Hosted/appsettings.docker-pgsql.json
/FEAR.Hosted/appsettings.pgsql.json
/FEAR.Hosted/case_creation_defaults.json
/FEAR.Hosted/initial_cases.json
/FEAR.Hosted/initial_color_maps.json
/FEAR.Hosted/Properties/launchSettings.json
/FEAR.Hosted/IdentityDatabase.db
/FEAR.Hosted/OpenIdDatabase.db
/FEAR.Hosted/OpenIdDatabase.db-shm
/FEAR.Hosted/OpenIdDatabase.db-wal
/FEAR.WASM/wwwroot/js/index.bundle.js
/FEAR.WASM/npm_packages/src/DawCenteredNodeLabel.js
/FEAR.WASM/npm_packages/src/DawCenteredNodeLabel.js.map
/FEAR.WASM/npm_packages/src/index.es5.js
/FEAR.WASM/npm_packages/src/index.es5.min.js
/FEAR.WASM/npm_packages/src/index.js
/FEAR.WASM/npm_packages/src/index.js.map
